$primaryColor: #46d20f ;
$secondaryColor: #ff6916 ;
$greenColor1: #216000;
$orangeColor1:#E05000;
$bgWhile: #fff;
$bgGreen:#DCFFCA;
$bgGreen2:#F2FFEC;
$bgOrange1:  #FFF0E7;
$grayColor: #656565;
$font: Inter , sans-serif;
$fontSize: 1.6rem;
$textColor: #2c2c2c;
$linkColor: #2c2c2c;
