* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-shop {
  width: 1400px;
  background-color: rgb(51 65 85);
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    h1 {
      color: #fff;
    }
  }
  .buy-products {
    align-self: flex-start;
    margin-left: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
}

.products-item {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin-top: 20px;
  .product {
    background-color: #fff;
    padding: 10px;
    height: 400px;
    border-radius: 5px;
    .money-cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      .money {
        color: rgb(255, 20, 20);
        font-size: 20px;
        font-weight: bold;
      }
      .cart {
        .btn-cart {
          padding: 8px 10px;
          cursor: pointer;
        }
      }
    }
  }
}

th {
  border: 1px solid black;
}

table {
  width: 100%;
  margin-top: 50px;
  padding: 20px;
  tr {
    background-color: #fff;
    td {
      padding: 10px;
    }
  }
}

.container {
  width: 500px;
  min-height: 30vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40vh auto;
  padding: 40px;
  border-radius: 5px;
  .box-email {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    .email-input {
      font-size: 16px;
      padding: 20px 30px 20px 20px;
      outline: none;
      border: 1px solid #ccc;
      transition: border-color 0.25s ease-in-out;
      &:focus {
        border-color: rgb(36, 250, 118);
      }
    }
    .btn-submit {
      padding: 10px 5px;
      cursor: pointer;
      font-size: 16px;
    }
  }
}
