* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: #ebf5fe;
}

.container {
    padding: 32px;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 31.2%;
    margin: 12px;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background: #fff;
    border: 2px solid #fff;
}

.item--red:hover {
    border: 2px solid red;
}
.item--green:hover {
    border: 2px solid green;
}
.item--yellow:hover  {
    border: 2px solid rgb(170, 170, 5);
}
.item--blue:hover  {
    border: 2px solid blue;
}
.item--blueviolet:hover  {
    border: 2px solid blueviolet;
}
.item--greenyellow:hover  {
    border: 2px solid rgb(114, 171, 29);
}


.item_heading {
    display: flex;
    align-items: center;
}

.item_icon {
    font-size: 20px;
    padding: 20px;
    border-radius: 50%;
    color: #fff;
    margin-right: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.item_icon--red {
    background-image: linear-gradient(to right , rgb(236, 11, 11) , rgb(244, 159, 159));
}
.item_icon--green {
    background-image: linear-gradient(to right , green , rgb(113, 231, 113));
}
.item_icon--yellow {
    background-image: linear-gradient(to right , rgb(167, 167, 16), rgb(242, 242, 139));
}
.item_icon--blue {
    background-image: linear-gradient(to right , blue , rgb(174, 174, 244));
}
.item_icon--blueviolet {
    background-color: blueviolet;
    background-image: linear-gradient(to right , blueviolet, rgb(203, 165, 238));
}
.item_icon--greenyellow {
    background-image: linear-gradient(to right , rgb(121, 198, 6), rgb(192, 240, 122));
}

.item_title {

}

.item_text {
    margin: 12px 0;
    color: #666;
    line-height: 1.5;
}

.item_btn {
 
}

.btn {
    font-size: 16px;
    padding: 10px 10px 4px 10px;
    display: inline-block;
    border: none;
    outline: none;
    color: blue;
    background: #fff;
    font-weight: 600;
    cursor: pointer;
}
